@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: white;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    text-indent: 5px;
}